/* Apply Poppins to the entire website */
html, body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures full viewport height */
}

main {
    flex-grow: 1; /* Pushes the footer down when there’s little content */
}

footer {
    padding: 10px;
}

/*Main colour */
.prometex-color {
    background-color: #3674b5 !important;
}

.prometex-in-footer-color {
    color: #000 !important;
}

/*Prometex logo brand */
.navbar-brand{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.nav-link{
    color: #ffffff;
    font-size: 24px;
}

/*}*/
/*.navbar*/
/* Split the screen in half */
.split {
    height: calc(100vh - 75px); /* Full height minus navbar height *!*!*!*/
    position: fixed;
    /*top: 75px; !* Start right after navbar *!*/
    overflow-y: auto; /* Allow scrolling if content is too long */
    /*padding: 20px 0; !* Add some vertical padding *!*/
}



#search-button{
    background-color: white;
    color: #3674b5;
}


/*These are variants for attributes*/
.product-variants{
    font-size: 14px;
}

/* Optional: Add some styling to visualize the sections better */
.content-section {
    padding: 20px;
    min-height: 400px;
}

/*Size of title in the product details page */
.content-section h2 {
    font-size: 18px !important;
    font-weight: bold;
    color: black;
}

/*Size of options in product detail page*/
.content-section h3 {
    font-size: 15px !important;
    font-weight: bold;
    color: #3674b5;
}


.btn-secondary{
    background-color: #d1f8ef;
    color: black;
}

.content-section .price{

    font-size: 20px !important;
}


#stock-left{
    font-size: 12px;
    color: #578fca;
    font-weight: bold;
}

/*badge near cart icon*/
.cart-badge {
    font-size: 0.7rem;
    padding: 2px 5px;
    min-width: 16px;
    min-height: 16px;
    line-height: 1;
}

/*image gallery on product page*/
.main-img {
    width: 100%; /* Large image takes full width */
    max-height: 400px; /* Adjust as needed */
    object-fit: contain;
}

.thumbnail-row {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.thumbnail {
    width: 80px; /* Smaller version */
    height: 80px;
    cursor: pointer;
    object-fit: cover;
    border: 2px solid transparent;
}

.thumbnail:hover {
    border: 2px solid orange;
}

/*ADMIN ADD NEW PRODUCT PAGE*/

.upload-outer-div{
    background-color: lightgrey;
    height: 400px;
    justify-content: center;
}

.big-upload{
    font-size: 55px;
    /*color: white;*/
}

/*FOOTER CSS*/
.footer-text{
    font-size: 14px;
    max-height: 50px;
}

.company-text-footer{
    font-weight: bold;
}

/*LOGIN MAIN DIV HEIGHT*/
.login-main-div{
    min-height: 500px;
}

body{
    min-height: 100vh;
}

.div-with-side-bar{
    margin-left: 0;
    padding: 0;
}