<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Products</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">

</head>

<body>
<div class="wrapper">
    <header>
        <nav class="navbar prometex-color navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="home-page.html">Prometex</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-supported-content" aria-controls="navbar-supported-content" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar-supported-content">

                    <div class="me-auto"></div>

                    <!-- Search Bar (Properly Responsive) -->
                    <div class="search-container d-flex">

                        <!-- Search Form -->
                        <form class="d-flex search-form">
                            <input class="form-control me-2 search-input" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-light my-0 search-button" type="submit">Search</button>
                        </form>
                    </div>

                    <div class="me-auto"></div>

                    <div class="justify-content-center">
                        <a class="nav-link d-inline-block me-3" href="profile-page.html">
                            <i class="bi bi-person"></i>
                        </a>
                        <a class="nav-link d-inline-block position-relative me-3" href="shopping-cart.html">
                            <i class="bi bi-cart fs-4"></i>
                            <span id="cart-badge" class="position-absolute top-0 start-100 translate-middle
                        badge rounded-pill bg-danger cart-badge">3</span>
                        </a>
                    </div>


                </div>

            </div>
        </nav>
    </header>

    <main>
        <div class="container-fluid text-center div-with-side-bar">

            <div class="row g-0">
                <!-- Left sidebar -->
                <div class="col-auto bg-light">
                    <div class="d-flex flex-column flex-shrink-0 p-3   bg-light" style="width: 280px;">

                        <ul class="nav nav-pills flex-column mb-auto">
                            <li class="nav-item">
                                <a href="#" class="nav-link active" aria-current="page">
                                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link link-dark">
                                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                                    Dashboard
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link link-dark">
                                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                                    Orders
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link link-dark">
                                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                                    Products
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link link-dark">
                                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                                    Customers
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col">
                    <div class="container border-bottom py-3">
                        <div class="row g-4 row-cols-sm-1 row-cols-md-3 row-cols-xl-6 justify-content-center">
                            <div class="col-2">
                                <button class="form-select rounded-pill fw-bold text-start" data-bs-toggle="modal" data-bs-target="#priceModal">
                                    Price
                                </button>
                                <div class="modal fade" id="priceModal" tabindex="-1" aria-labelledby="priceModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content rounded-4">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="priceModalLabel">Filter by Price</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <!-- You can put range sliders, checkboxes, inputs, etc. here -->
                                                <label for="minPrice" class="form-label">Minimum Price</label>
                                                <input type="number" class="form-control mb-3" id="minPrice" placeholder="e.g. 10">

                                                <label for="maxPrice" class="form-label">Maximum Price</label>
                                                <input type="number" class="form-control" id="maxPrice" placeholder="e.g. 100">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Apply</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <select class="form-select rounded-pill fw-bold" aria-label="Filter by Brand">
                                    <option value="" disabled selected hidden>Brand</option>
                                    <option value="Brand 1">Brand 1</option>
                                    <option value="Brand 2">Brand 2</option>
                                    <option value="Brand 3">Brand 3</option>
                                </select>
                            </div>
                            <div class="col-2">
                                <button class="form-select rounded-pill fw-bold text-start" data-bs-toggle="modal" data-bs-target="#tagsModal">
                                    Tags
                                </button>
                                <div class="modal fade" id="tagsModal" tabindex="-1" aria-labelledby="tagsModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content rounded-4">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="tagsModalLabel">Add Tags</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>

                                            <div class="modal-body">
                                                <!-- Tag Input -->
                                                <div class="input-group mb-3">
                                                    <label for="tagInput"></label><input type="text" id="tagInput" class="form-control" placeholder="Enter a tag">
                                                    <button class="btn btn-outline-primary" id="addTagButton" type="button">Add</button>
                                                </div>

                                                <!-- Tag List -->
                                                <div class="mt-4">
                                                    <h6 class="mb-2">Selected Tags:</h6>
                                                    <div id="tagList" class="d-flex flex-wrap gap-2">
                                                        <!-- Tags will appear here -->
                                                    </div>
                                                </div>

                                                <!-- Available tags-->
                                                <div class="mt-4">
                                                    <h6 class="mb-2">Suggested Tags:</h6>
                                                    <div id="suggestedTags" class="d-flex flex-wrap gap-2">
                                                        <!-- Tags will be inserted here -->
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Apply</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-2">
                                <select class="form-select rounded-pill fw-bold" aria-label="Filter by Colour">
                                    <option value="" disabled selected hidden>Color</option>
                                    <option value="Color 1">Color 1</option>
                                    <option value="Color 2">Color 2</option>
                                    <option value="Color 3">Color 3</option>
                                </select>
                            </div>
                            <div class="col-2">
                                <select class="form-select rounded-pill fw-bold" aria-label="Filter by Availability">
                                    <option value="" disabled selected hidden>Availability</option>
                                    <option value="In stock">In stock</option>
                                    <option value="All">All</option>
                                </select>
                            </div>
                            <div class="col-2">
                                <select class="form-select rounded-pill fw-bold" aria-label="Sort items">
                                    <option value="" disabled selected hidden>Sort</option>
                                    <option value="A-Z">A-Z</option>
                                    <option value="Z-A">Z-A</option>
                                    <option value="Newest">Newest</option>
                                    <option value="Oldest">Oldest</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row g-0" style="padding: 0">
                        <div class="col-12 p-3" style="background-color: white">
                            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
                                <!-- First card -->
                                <div class="col">
                                    <div class="card align-items-center h-100">
                                        <img src="../static/images/A55.png" class="card-img-top" alt="a55" style="width: 200px; height: auto;">
                                        <div class="card-body">
                                            <h5 class="card-title">Samsung A55 128GB/8GB</h5>
                                        </div>
                                        <div class="card-body">
                                            <p>400.99$</p>
                                            <a href="#" class="card-link"><i class="bi bi-cart-plus"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Second card -->
                                <div class="col">
                                    <div class="card align-items-center h-100">
                                        <img src="../static/images/A55.png" class="card-img-top" alt="a55" style="width: 200px; height: auto;">
                                        <div class="card-body">
                                            <h5 class="card-title">Samsung A55 128GB/8GB</h5>
                                        </div>
                                        <div class="card-body">
                                            <p>400.99$</p>
                                            <a href="#" class="card-link"><i class="bi bi-cart-plus"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Third card -->
                                <div class="col">
                                    <div class="card align-items-center h-100">
                                        <img src="../static/images/A55.png" class="card-img-top" alt="a55" style="width: 200px; height: auto;">
                                        <div class="card-body">
                                            <h5 class="card-title">Samsung A55 128GB/8GB</h5>
                                        </div>
                                        <div class="card-body">
                                            <p>400.99$</p>
                                            <a href="#" class="card-link"><i class="bi bi-cart-plus"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card align-items-center h-100">
                                        <img src="../static/images/A55.png" class="card-img-top" alt="a55" style="width: 200px; height: auto;">
                                        <div class="card-body">
                                            <h5 class="card-title">Samsung A55 128GB/8GB</h5>
                                        </div>
                                        <div class="card-body">
                                            <p>400.99$</p>
                                            <a href="#" class="card-link"><i class="bi bi-cart-plus"></i></a>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>

                    </div>
                    <div class="row g-0" style="padding: 0">
                        <div class="col-12 p-3" style="background-color: white">
                            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
                                <!-- First card -->
                                <div class="col">
                                    <div class="card align-items-center h-100">
                                        <img src="../static/images/A55.png" class="card-img-top" alt="a55" style="width: 200px; height: auto;">
                                        <div class="card-body">
                                            <h5 class="card-title">Samsung A55 128GB/8GB</h5>
                                        </div>
                                        <div class="card-body">
                                            <p>400.99$</p>
                                            <a href="#" class="card-link"><i class="bi bi-cart-plus"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Second card -->
                                <div class="col">
                                    <div class="card align-items-center h-100">
                                        <img src="../static/images/A55.png" class="card-img-top" alt="a55" style="width: 200px; height: auto;">
                                        <div class="card-body">
                                            <h5 class="card-title">Samsung A55 128GB/8GB</h5>
                                        </div>
                                        <div class="card-body">
                                            <p>400.99$</p>
                                            <a href="#" class="card-link"><i class="bi bi-cart-plus"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Third card -->
                                <div class="col">
                                    <div class="card align-items-center h-100">
                                        <img src="../static/images/A55.png" class="card-img-top" alt="a55" style="width: 200px; height: auto;">
                                        <div class="card-body">
                                            <h5 class="card-title">Samsung A55 128GB/8GB</h5>
                                        </div>
                                        <div class="card-body">
                                            <p>400.99$</p>
                                            <a href="#" class="card-link"><i class="bi bi-cart-plus"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card align-items-center h-100">
                                        <img src="../static/images/A55.png" class="card-img-top" alt="a55" style="width: 200px; height: auto;">
                                        <div class="card-body">
                                            <h5 class="card-title">Samsung A55 128GB/8GB</h5>
                                        </div>
                                        <div class="card-body">
                                            <p>400.99$</p>
                                            <a href="#" class="card-link"><i class="bi bi-cart-plus"></i></a>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>

                    </div>
                    <div class="row g-0" style="padding: 0">
                        <div class="col-12 p-3" style="background-color: white">
                            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
                                <!-- First card -->
                                <div class="col">
                                    <div class="card align-items-center h-100">
                                        <img src="../static/images/A55.png" class="card-img-top" alt="a55" style="width: 200px; height: auto;">
                                        <div class="card-body">
                                            <h5 class="card-title">Samsung A55 128GB/8GB</h5>
                                        </div>
                                        <div class="card-body">
                                            <p>400.99$</p>
                                            <a href="#" class="card-link"><i class="bi bi-cart-plus"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Second card -->
                                <div class="col">
                                    <div class="card align-items-center h-100">
                                        <img src="../static/images/A55.png" class="card-img-top" alt="a55" style="width: 200px; height: auto;">
                                        <div class="card-body">
                                            <h5 class="card-title">Samsung A55 128GB/8GB</h5>
                                        </div>
                                        <div class="card-body">
                                            <p>400.99$</p>
                                            <a href="#" class="card-link"><i class="bi bi-cart-plus"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Third card -->
                                <div class="col">
                                    <div class="card align-items-center h-100">
                                        <img src="../static/images/A55.png" class="card-img-top" alt="a55" style="width: 200px; height: auto;">
                                        <div class="card-body">
                                            <h5 class="card-title">Samsung A55 128GB/8GB</h5>
                                        </div>
                                        <div class="card-body">
                                            <p>400.99$</p>
                                            <a href="#" class="card-link"><i class="bi bi-cart-plus"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card align-items-center h-100">
                                        <img src="../static/images/A55.png" class="card-img-top" alt="a55" style="width: 200px; height: auto;">
                                        <div class="card-body">
                                            <h5 class="card-title">Samsung A55 128GB/8GB</h5>
                                        </div>
                                        <div class="card-body">
                                            <p>400.99$</p>
                                            <a href="#" class="card-link"><i class="bi bi-cart-plus"></i></a>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>

                    </div>
                </div>
                <nav aria-label="Pagination">
                    <ul class="pagination justify-content-end me-3" id="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                        <li class="page-item"><a class="page-link" href="#">7</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </main>

    <footer class="py-3 my-4 border-top mb-0 mt-auto">


        <div class="container text-center">
            <div class="row">

                <div class="col">
                    <a href="#" class="nav-link px-2 text-body-secondary footer-text">Home</a>
                </div>
                <div class="col">
                    <a href="#" class="nav-link px-2 text-body-secondary footer-text">Features</a>
                </div>
                <div class="col">
                    <a href="#" class="nav-link px-2 text-body-secondary footer-text">Pricing</a>
                </div>
                <div class="col">
                    <a href="#" class="nav-link px-2 text-body-secondary footer-text">FAQs</a>
                </div>
                <div class="col">
                    <a href="#" class="nav-link px-2 text-body-secondary footer-text">About</a>
                </div>
            </div>
            <div class="pt-2">

                <p class="mb-0 text-body-secondary company-text-footer">© 2025 Prometex, Inc</p>

            </div>
        </div>
    </footer>

</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
<script src="scripts/pagination.js"></script>
<script src="scripts/tag-selection.js"></script>
</body>
</html>