<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shipping</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">

</head>

<body>
<div class="wrapper">
    <header>
        <nav class="navbar prometex-color navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="home-page.html">Prometex</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-supported-content" aria-controls="navbar-supported-content" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar-supported-content">

                    <div class="me-auto"></div>

                    <!-- Search Bar (Properly Responsive) -->
                    <div class="search-container d-flex">

                        <!-- Search Form -->
                        <form class="d-flex search-form">
                            <input class="form-control me-2 search-input" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-light my-0 search-button" type="submit">Search</button>
                        </form>
                    </div>

                    <div class="me-auto"></div>

                    <div class="justify-content-center">
                        <a class="nav-link d-inline-block me-3" href="profile-page.html">
                            <i class="bi bi-person"></i>
                        </a>
                        <a class="nav-link d-inline-block position-relative me-3" href="shopping-cart.html">
                            <i class="bi bi-cart fs-4"></i>
                            <span id="cart-badge" class="position-absolute top-0 start-100 translate-middle
                        badge rounded-pill bg-danger cart-badge">3</span>
                        </a>
                    </div>


                </div>

            </div>
        </nav>
    </header>

    <main>
        <div class="container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb m-5">
                    <li class="breadcrumb-item"><a class="text-body text-decoration-none" href="shopping-cart.html"> <i class="bi bi-cart-plus"></i> Cart</a></li>
                    <li class="breadcrumb-item"><a class="text-body text-decoration-none" href="invoice-page.html"><i class="bi bi-mailbox"></i> Invoice</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a class="text-decoration-none" href="#"><i class="bi bi-truck"></i> Shipping</a></li>
                    <li class="breadcrumb-item"><a class="text-body text-decoration-none" href="payment-page.html"><i class="bi bi-wallet2"></i> Payment</a></li>

                </ol>
            </nav>

            <div class="row">
                <div class="col-md-6 size-20-text ps-5 pe-5">
                    <h1 class="pb-4">Choose your preferred delivery option:</h1>
                    <div class="border rounded-3 mb-5">
                        <div class="d-flex justify-content-between align-items-start p-3 border-bottom">
                            <div>
                                <strong>Store pickup</strong><br>
                                <i>Store located at: Hraničná 667/8 05801, Trnava, Slovakia</i>
                            </div>
                            <label>
                                <input type="checkbox" checked>
                            </label>
                        </div>

                        <div class="d-flex justify-content-between align-items-start p-3 border-bottom">
                            <div>
                                <strong>Standard Delivery</strong><br>
                                <i>Enter your Postal code for Delivery Availability</i>
                            </div>
                            <label>
                                <input type="checkbox">
                            </label>
                        </div>

                        <div class="d-flex justify-content-between align-items-start p-3">
                            <div>
                                <strong>Speedy Delivery</strong><br>
                                <i>Delivery made at an accelerated pace. <a href="#">Details</a></i>
                            </div>
                            <label>
                                <input type="checkbox">
                            </label>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between align-items-start p-3 border border-5 rounded-3">
                        <div>
                            <strong>Return Delivery</strong><br>
                            <i>Free 30 days delivery</i>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 pe-5 ps-5 ps-md-0">
                    <div class="border rounded-3">
                        <h3 class="fw-bold m-2 border-bottom">Order Summary</h3>

                        <div class="container-fluid">
                            <div class="row row-cols-1 gy-2 pb-2">
                                <!-- First card -->
                                <div class="col my-card border-bottom">
                                    <div class="row align-items-center px-2 py-2">
                                        <div class="col">
                                            <img src="../static/images/A55.png" class="img-thumbnail img-fluid" alt="a55" style="max-width: 100px;">
                                        </div>

                                        <div class="col">
                                            <div class="row row-cols-1 gy-4">
                                                <div class="col">
                                                    <h5 class="card-title mb-0">Samsung A55 128GB/8GB</h5>
                                                </div>

                                                <div class="col">
                                                    <p class="card-price fw-bold mb-0">400.99$</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col my-card-stepper">
                                            <div class="d-flex align-items-center gap-2">
                                                <button class="btn btn-outline-secondary decrease-amount">−</button>
                                                <span class="px-3 fs-5 fw-bold border rounded amount-value">1</span>
                                                <button class="btn btn-outline-secondary increase-amount">+</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <!-- Second card -->
                                <div class="col my-card border-bottom">
                                    <div class="row align-items-center px-2 py-2">
                                        <div class="col">
                                            <img src="../static/images/A55.png" class="img-thumbnail img-fluid" alt="a55" style="max-width: 100px;">
                                        </div>

                                        <div class="col">
                                            <div class="row row-cols-1 gy-4">
                                                <div class="col">
                                                    <h5 class="card-title mb-0">Samsung A55 128GB/8GB</h5>
                                                </div>

                                                <div class="col">
                                                    <p class="card-price fw-bold mb-0">400.99$</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col my-card-stepper">
                                            <div class="d-flex align-items-center gap-2">
                                                <button class="btn btn-outline-secondary decrease-amount">−</button>
                                                <span class="px-3 fs-5 fw-bold border rounded amount-value">1</span>
                                                <button class="btn btn-outline-secondary increase-amount">+</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <!-- Third card -->
                                <div class="col my-card border-bottom">
                                    <div class="row align-items-center px-2 py-2">
                                        <div class="col">
                                            <img src="../static/images/A55.png" class="img-thumbnail img-fluid" alt="a55" style="max-width: 100px;">
                                        </div>

                                        <div class="col">
                                            <div class="row row-cols-1 gy-4">
                                                <div class="col">
                                                    <h5 class="card-title mb-0">Samsung A55 128GB/8GB</h5>
                                                </div>

                                                <div class="col">
                                                    <p class="card-price fw-bold mb-0">400.99$</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col my-card-stepper">
                                            <div class="d-flex align-items-center gap-2">
                                                <button class="btn btn-outline-secondary decrease-amount">−</button>
                                                <span class="px-3 fs-5 fw-bold border rounded amount-value">1</span>
                                                <button class="btn btn-outline-secondary increase-amount">+</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="container-fluid">
                                <div class="row justify-content-end pb-2 me-0">
                                    <div class="col-auto border text-end">
                                        <p class="card-price">Sum total: 400.99$</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col text-center">
                                        <img src="../static/icons/visa.svg" alt="Visa" height="60" class="mx-1">
                                        <img src="../static/icons/mastercard.svg" alt="MasterCard" height="60" class="mx-1">
                                        <img src="../static/icons/amex.svg" alt="Amex" height="60" class="mx-1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row ps-4 pe-4 p-2">
                <div class="col">
                    <a href="invoice-page.html" class="btn btn-secondary m-2 size-20-text rounded-pill">
                        <i class="bi bi-arrow-left-short"></i>
                        Back to Invoice
                    </a>
                </div>
                <div class="col text-end">
                    <a href="payment-page.html" class="btn btn-primary m-2 size-20-text rounded-pill">
                        Secure checkout
                        <i class="bi bi-arrow-right-short"></i>
                    </a>
                </div>
            </div>
        </div>
    </main>

    <footer class="py-3 my-4 border-top mb-0 mt-auto">

        <div class="container text-center">
            <div class="row">

                <div class="col">
                    <a href="#" class="nav-link px-2 text-body-secondary footer-text">Home</a>
                </div>
                <div class="col">
                    <a href="#" class="nav-link px-2 text-body-secondary footer-text">Features</a>
                </div>
                <div class="col">
                    <a href="#" class="nav-link px-2 text-body-secondary footer-text">Pricing</a>
                </div>
                <div class="col">
                    <a href="#" class="nav-link px-2 text-body-secondary footer-text">FAQs</a>
                </div>
                <div class="col">
                    <a href="#" class="nav-link px-2 text-body-secondary footer-text">About</a>
                </div>
            </div>
            <div class="pt-2">

                <p class="mb-0 text-body-secondary company-text-footer">© 2025 Prometex, Inc</p>

            </div>
        </div>
    </footer>

</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
<script src="scripts/cart-item-manipulation.js"></script>
</body>
</html>